absl-py==1.0.0
appdirs==1.4.4
APScheduler==3.9.1
asgiref==3.5.0
astunparse==1.6.3
audioread==2.1.9
backports.zoneinfo==0.2.1
brotlipy==0.7.0
cachetools==5.0.0
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699250966/work
chardet==3.0.4
charset-normalizer==2.0.12
colorama==0.4.4
cryptography @ file:///C:/ci/cryptography_1601046913206/work
cycler==0.11.0
decorator==4.4.2
Django==3.2.12
django-apscheduler==0.6.2
django-cors-headers==3.11.0
djangorestframework==3.13.1
djongo==1.3.6
dnspython==2.2.0
fonttools==4.30.0
gast==0.3.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==2.10.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio==2.16.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.11.2
inflect==5.4.0
jamo==0.4.1
joblib==1.1.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
librosa==0.9.1
llvmlite==0.38.0
Markdown==3.3.6
-e git+https://lab.ssafy.com/s06-ai-speech-sub1/skeleton-project@d9be86a50d3216db628c8eec6e1ef73056784e63#egg=maskrcnn_benchmark&subdirectory=speak_image\ic\vqa_origin
matplotlib==3.5.1
moviepy==1.0.3
mysqlclient==2.1.0
numba==0.55.1
numpy==1.21.5
oauthlib==3.2.0
opencv-contrib-python==4.4.0.46
opt-einsum==3.3.0
packaging==21.3
Pillow==9.0.1
pooch==1.6.0
proglog==0.1.9
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pymongo==3.12.3
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==3.0.7
PySocks @ file:///C:/ci/pysocks_1594394709107/work
PySoundFile==0.9.0.post1
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.3.1
requests==2.25.0
requests-oauthlib==1.3.1
resampy==0.2.2
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
six==1.15.0
SoundFile==0.10.3.post1
sqlparse==0.2.4
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-gpu==2.3.1
tensorflow-gpu-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.10.2
torchaudio==0.10.2
torchvision==0.8.2+cu110
tqdm==4.63.0
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.1
Unidecode==1.3.4
urllib3==1.26.9
Werkzeug==2.0.3
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.13.3
yacs==0.1.8
zipp==3.7.0
