[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=uwsgi --http :8080 --home /home/ubuntu/retter/ --chdir /srv/S06P22C202/backend/ -w retter.wsgi
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target